* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

.landing {
  background: linear-gradient(135deg, #0f172a, #1e293b);
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.title{
  align-self: center;
  margin-top: 30px;
}

/* HERO */
.hero {
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 20px;
}

.hero-content h1 {
  font-size: 42px;
  margin-bottom: 20px;
}

.hero-content p {
  color: #94a3b8;
  max-width: 700px;
  margin: 0 auto 30px;
  line-height: 1.6;
}

.hero-buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.primary-btn,
.secondary-btn {
  padding: 12px 22px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

.primary-btn {
  background: linear-gradient(135deg, #6366f1, #8b5cf6);
  color: white;
}
a{
  color: inherit;
  text-decoration: none;
}
a:hover{
  color: black;
}

.secondary-btn {
  background: transparent;
  border: 1px solid #6366f1;
  color: #6366f1;
}

/* FEATURES */
.features {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 60px;
}

.feature-card {
  background: rgba(255, 255, 255, 0.05);
  padding: 30px;
  border-radius: 16px;
  backdrop-filter: blur(10px);
  text-align: center;
}

.feature-card h3 {
  margin-bottom: 10px;
}

/* CTA */
.cta {
  text-align: center;
  padding: 60px 20px;
}

.cta h2 {
  margin-bottom: 20px;
}

/* FOOTER */
.footer {
  text-align: center;
  padding: 20px;
  color: #94a3b8;
  font-size: 14px;
}

/* RESPONSIVE */
@media (max-width: 1024px) {
  .features {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .navbar {
    padding: 20px;
  }

  .hero-content h1 {
    font-size: 28px;
  }

  .features {
    grid-template-columns: 1fr;
    padding: 30px;
  }

  .hero-buttons {
    flex-direction: column;
  }
}