body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #0d1117;
  color: #ffffff;
}

.container {
  padding: 30px;
}

.profile-card {
  display: flex;
  gap: 20px;
  background: #161b22;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 30px;
  align-items: center;
}

.profile-img {
  border-radius: 10px;
  width: 120px;
  height: 120px;
}

.main-section {
  display: flex;
  gap: 30px;
}

.crime-list {
  flex: 2;
}

.crime-card {
  background: #161b22;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 15px;
  border-left: 4px solid #7f5af0;
  display: flex;
  justify-content: space-between;
}
.del-icon{
  font-size: 20px;
}
.add-crime {
  flex: 1;
  background: #161b22;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.add-crime input,
.add-crime textarea {
  padding: 8px;
  border-radius: 5px;
  border: none;
  outline: none;
}

.add-crime button {
  background: #7f5af0;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}