* {
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

.add-container {
  min-height: 100vh;
  background: linear-gradient(135deg, #0f172a, #1e293b);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.add-card {
  width: 900px;
  max-width: 100%;
  padding: 40px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(12px);
  color: white;
}

h2 {
  text-align: center;
}

.subtitle {
  text-align: center;
  color: #94a3b8;
  margin-bottom: 30px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.input-group {
  display: flex;
  flex-direction: column;
}

.input-group label {
  margin-bottom: 6px;
  font-size: 14px;
}

input,
select,
textarea {
  padding: 12px;
  border-radius: 10px;
  border: none;
  outline: none;
  background: #0f172a;
  color: white;
}

.full {
  margin-top: 20px;
}

.submit-btn {
  margin-top: 25px;
  width: 100%;
  padding: 14px;
  border-radius: 10px;
  border: none;
  background: linear-gradient(135deg, #6366f1, #8b5cf6);
  color: white;
  font-weight: bold;
  cursor: pointer;
}

/* Responsive */
@media (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
  }
}

/*error*/
.error{
  font-size: 13px;
  color: red;
  font-weight: bold;
  margin-top: 10px;
  margin-left: 5px;
}